<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table border='1' style='border-collapse:collapse;' width='100%'>
    <thead>
        <th>Name</th>
        <th>Subject</th>
        <th>Phone</th>
        <th>Email</th>
    </thead>
    <tbody align='center'>
        {% for teacher in teachers %}
        <tr>
            <td>{{teacher.first_name}} {{teacher.last_name}}</td>
            <td>{{teacher.subject}}</td>
            <td>{{teacher.phone}}</td>
            <td>{{teacher.email}}</td>
        </tr>
    </tbody>
        {% endfor %}
</table>
</body>
</html>